*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
body{
    width: 100%;
    min-height: 100vh;
}
/*nav section start*/   
.navbar{
    z-index: 12;
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}
.dev img{
    margin-top: .5rem;
    width: 10rem;
    height: 2rem;
}
.nav{
    font-size: 1.2rem;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}
.nav li{
    padding:0px 20px 0px 20px;
}
div a{
    color: rgb(255, 255, 255);
}
.nav a:link{
    text-decoration: none;
}
.nav a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #39FF14,
                 0 0 20px #39FF14, 
                 0 0 40px #39FF14;
}
.side-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -40rem;

}
.side-contact img{
    padding: 10px;
    width: 2.5rem;
    height: 2.5rem;
}
/*nav section end*/

/*hero section start*/
.hero-section{
    font-family:'Oswald', sans-serif;
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(../background1.jpg);
    background-repeat: no-repeat;
    background-size: 130% 110%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.check{
    box-sizing: border-box;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 5px;
    border: #37ff1421 solid 4px;
    text-align: center;
    width: 11rem;
    height: 2.5rem;
    color: rgb(7, 7, 7);
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.check a{
    box-sizing: border-box;
    padding-top: 10px;
    text-decoration: none;
    text-shadow: 0 0 10px #39FF14,
                 0 0 20px #39FF14, 
                 0 0 40px #39FF14;
}
.check:hover a{
    cursor: pointer;
    color: rgb(0, 0, 0); 
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-name{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-left: 4rem;
    margin-top: 5rem;
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    cursor: pointer;
    letter-spacing:1rem;
     
} 
.letters{
    transition: 0s linear;
}
.letters:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px white,
                 0 0 20px white, 
                 0 0 40px white;
  }
.blue{
    color: dodgerblue;
}
/*hero section end*/

/*about section start*/
.about-section{
    background-color: black;
    height: 120vh;
    width: 100%; ;
    color: rgb(255, 255, 255); 
    display: flex;
    justify-content: center;
}
.dev_deepan{
    width: 5rem;
    position: relative;
    right: 30rem;
    top: 5rem;
}
.dev_deepan img{
    width: 26rem;
    height: 45rem;
}
.dev_deepan{
    margin-left: 30rem;
}

.about-content h1{
    color: dodgerblue;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-size: 3rem;
    margin-right: 1rem;
    text-align: center;
}
.about-content p{
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    font-size: 1.5rem;
    line-height: 3rem;
}
.about-content h3{
    color: tomato;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-size: 2rem;
}
.about-content span img{
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.5rem;
    padding-right: 10px;
}
.arrow-down{
    position: relative;
    top: -10rem;
    left: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.arrow-down img{
    width: 3rem;
    height: 10rem;
}

/*about section end*/

/*skill section start*/
.skill-section{
    width: 100%;
    height: 130vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 130vh;
}
.skill-section h1{
    color: #39f798;
    letter-spacing: 10px;
    margin-top: 0;
    margin-left: 1rem;
    font-size: 3rem;
    font-family: 'Sedgwick Ave', cursive;
    text-align: center;
    padding: 1rem;
}
.skill-section h3{
    color: tomato;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 1rem;
}
.skill-section .pl{
    margin-top: 2rem;
    margin-left: 1rem;
}
.skill-section img{
    width: 5rem;
    height: 5rem;
    padding-right: 1.5rem;
}
.line{
    width: 40rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
}
.line img{
    width: 20px;
    height: 3rem;
}
/*skill section end*/

/*contact section start*/
.bg-contact{
    background-color: white;
    height: 90vh;
    width: 100%;
}
.contact{
    background-color: rgba(143, 142, 142, 0.322);
    height: 65vh;
    width: 100%;    
    position: relative;
    top: 10rem;

}
.contact img{
    height: 100px;
    width: 100px;
}
.contact div{
    display: inline-block;
    position: relative;
}
.button:hover{
    transform: scale(1.5);
}
.end-section{
    background-color: black;
    background-size: 100% 50vh;
    height: 70vh;
    display: flex;
    
}
.left{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.end{
    color: white;
}
.end-section h1 {
    color: white;
}
.nav-end{
    color: white;
    list-style: none;
}
.right
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7rem;
}
.right img{
    width: 5rem;
    height: 5rem;
    margin-left: 5rem;
    z-index: 3;
}
@media only screen and (max-width: 600px){
    body{
        width: 100%;
        min-height: 100vh;
    }   
    section{
        padding: 0;
    }
    .navbar{
        width: 130vw;
    }
    .hero-section{
        background-size: cover;
        width: 130vw;
        height: 60vh;
    }
    .dev img{
        width: 8.5rem;
        height: 2rem;
    }
    .hero-section h1{
        font-size: 3rem;
    }
    .about-section{
        display: block;
        width: 130vw;
        height: 165vh;
    }
    .dev_deepan{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .dev_deepan img{
        width: 12rem;
        height: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
    .skill-section{
        width: 130vw;
        background-size: cover;
        background-position:center center ;
    }
    .end-section{
        width: 130vw;
    }
    .right{
        display: none;
    }
    .arrow-down{
        position: absolute;
    }
    .pl img{
        width: 3rem;
        height: 3rem;
    }
    .line{
        width: 27rem;
    }
    .line img{
        width: 10ox;
        height: 1rem;
    }
    .circular-chart{
        display: flex;
        justify-content: flex-start;
        width: 1rem;
        height: 1rem;
    }
    .flex-wrapper{
        display: none !important;
    }
}




